extends ../layout

block content
  .container
    .row
      each item in apks
        .col-md-2.col-xs-6
          .thumbnail
            a(href="/apk/#{item._id}")
              img(src="#{item.poster}", alt="#{item.title}", style="width: 142.5px; height:94.36px;")
            .caption
              p.text-ellipsis(style="margin-top: 10px;") #{item.title}
              p 价格: ¥ #{item.doctor}
              p: a.btn.btn-primary.btn-sm(href="/apk/#{item.id}", role="button") 查看详情
