extends ../layout

block content
  .container
    .row
      each item in apks
        .col-md-2
          .thumbnail
            a(href="/apk/#{item._id}")
              img(src="#{item.poster}", alt="#{item.title}")
            .caption
              h3 #{item.title}
              p: a.btn.btn-primary(href="/apk/#{item.id}", role="button") 查看详情
